/*Ini FILE CSS*/

main {
    background-color: gray;
    padding: 10px ;
    display: grid;
    justify-content: center;
    align-items: center;
}

.how-to-use {
    text-align: start;
    color: white;
}

.main-title {
    text-align: center;
    background-color: whitesmoke;
    padding: 0px;
    font-size: small;
}

.main-section {
    padding: 3px;
    background-color: navy;
}

.container-celcius-fahrenheit{
    padding: 3px;
    display: grid;
    flex-direction: column;
    background-color: rgba(0, 255, 255, 0.288);
    
}

.section-celcius, .section-fahrenheit, .section-celcius2, .section-fahrenheit2 {
    padding: 10px;
    display: grid;
    background-color: rgb(0, 0, 0);
    
}

#celcius-fahrenheit, #fahrenheit-celcius, .celcius-fahrenheit2, .fahrenheit-celcius2{
    display: flex;
    justify-content: center;
    align-items: center;
}


.label-to-input {
    display: flex;
    align-items: center;
    background-color: rgba(0, 174, 255, 0.288);
    
    padding: 2px 10px;
    margin-left: 5px;
    margin-right: 5px;
}

h3 {
    background-color: yellow;
}

h5 {
    background-color: skyblue;
    border-radius: 40px;
}

input {
    padding: 5px;
}

.to {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 30px;
    color: white;
    padding-left: 5px;
    padding-right: 5px;
    padding-top: 0px;
    padding-bottom: 0px;
    margin: 2px;
    width: 10%;
    height: 50%;
}

button {
    margin: 10px;
    padding: 5px;
    background-color:red ;
    border: none;
    border-radius: 10px;
    transition: 0.5s , transform 0.5s;
} 

button:hover {
    background-color: rgba(0, 174, 255, 0.767);
    transform: scale(1.5);
}


.main-button {
    display: flex;
    justify-content: center;
    background-color: cyan;
    border-color: black;
    border: 10px;
    padding: 1px;
    margin: 5px;
    border: 10px;
}

.section-rumus {
    text-align: center;
    background-color:rgwba(0, 174, 255, 0.192);
    border-radius: 40px;
    padding: 0px;
}

.container-area {
    background-color: white;
    border-color: black ;
    color: black;
    padding: 20px;
    font-size: 20px;
}


.hidden {
    display: none !important;
}